# Banco de Dados
DATABASE_URL="postgresql://usuario:senha@localhost:5432/seu_banco"

# Servidor
PORT=3000
HOST="0.0.0.0"
NODE_ENV="development"

# JWT
JWT_SECRET="sua-chave-secreta-super-segura-aqui"
JWT_EXPIRE="7d"